<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Ejercicio 3 Farelas David</title>
</head>
<body>
    <form id="qr">
        <label for="Content">Ingrese sus datos</label> <br>
        <div id="Content">
            <label for="numEmp">Número de empleado: </label>
            <input type="text" id="numEmp"> <br>
            <label for="Nombre">Nombre: </label>
            <input type="text" id="Nombre"> <br>
            <label for="Escuela">Escuela: </label>
            <input type="text" id="Escuela"> <br>
        </div>
        <button type="submit">Enviar</button>
    </form>
    <div id="QRCodeIMG"></div>
</body>
</html>

<script>
    let socket = io.connect('http://localhost:8080');
    $('#qr').submit((e) => {
        e.preventDefault();
        socket.emit('reqQR', $('#numEmp').val(), $('#Nombre').val(), $('#Escuela').val());
        $('#numEmp').val('');
        $('#Nombre').val('');
        $('#Escuela').val('');
        return false;
    });

    socket.on('resQR', (img) => {
        $('#QRCodeIMG').empty();
        $('#QRCodeIMG').append(`<img src="${img}">`);
    });
</script>